body {
  background-color: #AA9900;
}
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#list-grid {
  height: 400px;
  width: 200px;
  border: 1px solid black;
  overflow-y: scroll;
  margin: 30px 30px 0;
  background-color: grey;
}

#list li{
  background-color:inherit
}

.secondary-content {
  color:black;
}

#grid {
  height: 252px;
  width: 252px;
  border: 1px solid black;
  margin: 30px 30px 0;
  float:left;
  background-color: grey;
}

#target {
  color:black;
}

.btn {
  background-color: #455a64;
}
.btn:hover{
  background-color:#AA9900
}

#words {
  width: 250px;
  height: 50px;
  margin: 30px 30px 30px;

}

.select {
  color: black;
  text-align: center;
  background-color: ;
}

.timer {
  float:left;
  margin: 30px 30px 0;
  background-color: grey;
  border: 1px solid black;

}

.slot {
  height: 50px;
  width: 50px;

  float: left;
  border: 1px black solid;
  font-size: 36px;
  text-align:center;
}
